//output:/docs/index.html
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    script(src="https://kit.fontawesome.com/e8f815e43c.js" crossorigin="anonymous")
    title Sanchez Dev - Frontend Developer
    link(rel="apple-touch-icon", sizes="57x57", href="/assets/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/assets/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/assets/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/assets/favicons/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/assets/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/assets/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/assets/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/assets/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/favicons/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192",  href="/assets/favicons/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/assets/favicons/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicons/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
  body
    img(src="./assets/img/shape-1.svg", alt="shape").shape.shape-1
    img(src="./assets/img/shape-4.svg", alt="shape").shape.shape-4
    img(src="./assets/img/shape-5.svg", alt="shape").shape.shape-5
    header.menu
      a(href="https://sanchezdev-1906.github.io") 
        img(src="./assets/logo/logo-big.svg", alt="sanchez dev logo").menu__logo
      div.button.button--toggle#menuToggle
        i.fa-solid.fa-bars
      nav.menu__links#menuNav
        .button.button--close#menuClose 
          i.fa-solid.fa-xmark
        ul
          li 
            a(href="#skills") Tecnologias
          li 
            a(href="#projects") Proyectos
          li 
            a(href="#contact") Contactame
        div.buttons
          div.button.button--theme#theme-button
            i.fa-regular.fa-moon
          div.button.button--link
            a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
    main.main 
      .hero
        h1.hero__text Joel Sanchez 
          br
          span.text-red Desarrollador 
          br
          span.text-cyan Frontend
        img(src="./assets/logo/logo-small.svg", alt="sanchez dev logo").hero__img
      .skills#skills
        h2.title-2 #Tecnologias
        .skills-container#skills-container 
      .projects#projects
        img(src="./assets/img/shape-2.svg", alt="shape").shape.shape-2
        img(src="./assets/img/shape-3.svg", alt="shape").shape.shape-3
        h2.title-2 #Projectos
        .cards-container#cards-container
        
      .contact#contact
        h2.title-2 # Contactame
        address
          a.link(href="mailto:joelalejandro.development@gmail.com" target="_blank") 
            i.link__icon.fa-regular.fa-envelope
            span.link__text  joelalejandro.development@gmail.com
          a.link(href="https://github.com/sanchezdev-1906" target="_blank") 
            i.link__icon.fa-brands.fa-github
            span.link__text  sanchezdev-1906
    footer.footer
      p.footer__text Released under the MIT License. <br> Copyright &copy; 2023 - Joel Sanchez
  script(src="main.js") 