//output:/docs/index.html
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    script(src="https://kit.fontawesome.com/e8f815e43c.js" crossorigin="anonymous")
    title Sanchez Dev - Frontend Developer
  body
    img(src="./assets/img/shape-1.svg", alt="shape").shape-1
    header.menu
      a(href="https://sanchezdev-1906.github.io") 
        img(src="./assets/logo/logo-big.svg", alt="sanchez dev logo").menu__logo
      div.button.button--toggle#menuToggle
        i.fa-solid.fa-bars
      nav.menu__links#menuNav
        .button.button--close#menuClose 
          i.fa-solid.fa-xmark
        ul
          li 
            a(href="#skills") Mis Conocimientos
          li 
            a(href="#projects") Mis Proyectos
          li 
            a(href="#contact") Contactame
        div.buttons
          div.button.button--theme
            i.fa-regular.fa-moon
          div.button.button--link
            a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
    main.main 
      .hero
        h1.hero__text Joel Sanchez 
          br
          span.text-cyan Desarrollador 
          br
          span.text-red Frontend
        img(src="./assets/logo/logo-small.svg", alt="sanchez dev logo").hero__img
      .skills#skills
        h2.title-2 #Mis Conocimientos
        .skills-container#skills-container 
          .skill
            img.skill__img(src="./assets/logo/logo-small.svg", alt="git")
            p.skill__name lorem
          .skill
            img.skill__img(src="./assets/logo/logo-small.svg", alt="git")
            p.skill__name lorem
          .skill
            img.skill__img(src="./assets/logo/logo-small.svg", alt="git")
            p.skill__name lorem
          .skill
            img.skill__img(src="./assets/logo/logo-small.svg", alt="git")
            p.skill__name lorem
      .projects#projects
        h2.title-2 #Projects
        .cards-container
          .card 
            .card__header
              .layer
              i.icon.fa-solid.fa-laptop-code
            .card__text 
              h3.card__title Fylo data storage component solution
              .card__links
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
          .card 
            .card__header
              .layer
              i.icon.fa-solid.fa-laptop-code
            .card__text 
              h3.card__title frontendmentor challenge
              .card__links
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
          .card 
            .card__header
              .layer
              i.icon.fa-solid.fa-laptop-code
            .card__text 
              h3.card__title frontendmentor challenge
              .card__links
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
          .card 
            .card__header
              .layer
              i.icon.fa-solid.fa-laptop-code
            .card__text 
              h3.card__title frontendmentor challenge
              .card__links
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
          .card 
            .card__header
              .layer
              i.icon.fa-solid.fa-laptop-code
            .card__text 
              h3.card__title frontendmentor challenge
              .card__links
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
          .card 
            .card__header
              .layer
              i.icon.fa-solid.fa-laptop-code
            .card__text 
              h3.card__title frontendmentor challenge
              .card__links
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
          .card 
            .card__header
              .layer
              i.icon.fa-solid.fa-laptop-code
            .card__text 
              h3.card__title frontendmentor challenge
              .card__links
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
                .button.button--link
                  a.fa-brands.fa-github(href="https://github.com/sanchezdev-1906", target="_blank")
      .contact#contact
        h2.title-2 # Contact
        address
          a.link(href="mailto:joelalejandro.development@gmail.com" target="_blank") 
            i.link__icon.fa-regular.fa-envelope
            span.link__text  joelalejandro.development@gmail.com
          a.link(href="https://github.com/sanchezdev-1906" target="_blank") 
            i.link__icon.fa-brands.fa-github
            span.link__text  sanchezdev-1906
    footer.footer
      p.footer__text Released under the Creative Commons License. (b82ee5d3) <br> Copyright © 2023 - Joel Sanchez
  script(src="main.js") 