.contact 
{
  padding-top: 1rem;
  padding-bottom: 1rem;
  address
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .link
    {
      display: block;
      text-decoration: none;
      color: var(--cl-100);
    }
    .link:last-child
    {
      padding-bottom: 0;
    }
  }
}
@media screen and (min-width: 700px){
  .contact 
  {
    address
    {
      flex-direction: row;
      gap: 2rem;
    }
    .link
    {
      &:hover
      {
        color: $color-primary;
        -webkit-text-shadow: var(--bg-transparent);
        text-shadow: 0 0 5px var(--bg-transparent);
      }
    }
  }
}