.contact 
{
  padding-top: 1rem;
  padding-bottom: 1rem;
  address
  {
    display: flex;
    justify-content: center;
    gap: 2rem;
    .link
    {
      display: block;
      text-decoration: none;
      padding-bottom: 0.5rem;
      color: $color-light--100;
    }
    .link:last-child
    {
      padding-bottom: 0;
    }
  }
}
@media screen and (min-width: 700px){
  .contact 
  {
    .link
    {
      &:hover
      {
        color: $color-primary;
        -webkit-text-shadow: $color-dark-transparent;
        text-shadow: 0 0 5px $color-dark-transparent;
      }
    }
  }
}