.hero
{
  display: grid;
  grid-template-rows: max-content max-content;

  padding-top: 75px;
  min-height: 80vh;
  &__text
  {
    padding: 2rem 0;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5em;
  }
  &__img
  {
    margin: 0 auto;
    width: 7.5rem;
  }
  .text-cyan
  {
    color: $color-secondary;
  }
  .text-red
  {
    color: $color-primary;
  }
}

@media screen and (min-width: 700px) {
  .hero
  {
    grid-template-columns: min-content max-content;
    grid-template-rows: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    &__text
    {
      font-size: 4.5rem;
    }
    &__img
    {
      width: 10rem;
    }
    .text-cyan
    {
      color: $color-secondary;
    }
    .text-red
    {
      color: $color-primary;
    }
  }
  
}