.menu
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: absolute;
  top: 0;
  z-index: 50;
  
  width: 100%;
  height: 75px;
  padding: 1rem;

  background-color: $color-dark-transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.menu__links
{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  
  text-align: center;
  background-color: $color-dark-transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  transition: transform .2s cubic-bezier(0.39,0.57,0.56,1);;
  transform: translateY(-100%);
  
  &.visible
  {
    transform: translateY(0);
  }

  & ul
  {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  & ul li a
  {
    text-decoration: none;
    color: $color-light--100;
  }
  & .buttons
  {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

@media screen and (min-width: 700px){
  .menu
  {
    &__toggle
    {
      display: none;
    }
  }
  .menu__links
  {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    padding: 0;
    position: relative;
    width: initial;
    height: auto;
    backdrop-filter: unset;

    background-color: transparent;
    transform: translateY(0);
  }
  .menu__links ul 
  {
    flex-direction: row;
    gap: 2em;
  }
}