.projects
{
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .cards-container
  {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-auto-rows: 400px;
    justify-content: center;
    gap: 1rem;
  }
  .card
  {
    display: grid;
    grid-template-rows: 1fr max-content;

    background-color: var(--bg-100);
    border-radius: 1rem;
    box-shadow: 0 2px 5px $box-shadow;
    &__text
    {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr max-content;
      padding: .5rem;

    }
    &__title
    {
      font-size: 1rem;
      font-weight: 500;
    }
    &__links
    {
      display: flex;
      justify-content: start;
      gap: .5rem;
      .button
      {
        box-shadow: 0 2px 5px $box-shadow;
      }
    }
    &__header
    {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .layer
      {
        width: 100%;
        height: 100%;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}