*
{
  box-sizing: border-box;
}
:root
{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body
{
  --bg-100: #{$color-dark--100};
  --bg-90: #{$color-dark--90};
  --bg-80: #{$color-dark--80};
  --cl-100: #{$color-light--100};
  --cl-90: #{$color-light--90};
  --cl-80: #{$color-light--80};
  --bg-transparent: #{$color-dark-transparent};
  --cl-transparent: #{$color-light-transparent};
}
body.light
{
  --bg-100: #{$color-light--100};
  --bg-90: #{$color-light--90};
  --bg-80: #{$color-light--80};
  --cl-100: #{$color-dark--100};
  --cl-90: #{$color-dark--90};
  --cl-80: #{$color-dark--80};
  --bg-transparent: #{$color-light-transparent};
  --cl-transparent: #{$color-dark-transparent};
}

:root::-webkit-scrollbar
{
  background-color: var(--bg-90);
  width: .75em;
}
:root::-webkit-scrollbar-thumb
{
  background-color: var(--bg-80);
  border-radius: 100vmax;
}

body,
html
{
  overflow-x: hidden;
}
ul
{
  padding: 0;
  margin: 0;
  list-style: none;
}
body
{
  position: relative;
  min-height: 100vh;
  color: var(--cl-100);
  background-color: var(--bg-100);
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
img
{
  display: block;
  max-width: 100%;
}
main
{
  margin: 0 auto;
  width: 90%;
  max-width: 80ch;
}
p
{
  margin: 0;
}
h1, h2, h3, h4
{
  margin: 0;
}
.title-2
{
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
}

@media screen and (min-width:700px){
  body
  {
    font-size: 18px;
  }
}