.shape
{
  position: absolute;
  z-index: -10;
}
.shape-1
{
  top: -5rem;
  right: -5rem;
}
.shape-2
{
  transform: rotate(-45deg);
  bottom: -100px;
  right: 0;
}
.shape-3
{
  top: -100px;
  left: 100px;
}
.shape-4
{
  top: -100px;
  left: 100px;
}
.shape-5
{
  top: 50%;
  left: -5em;
  transform: rotate(-45deg);
}