// -> Colores 
$color-dark--100: #262626;
  $color-dark--90: #2B2B2B;
  $color-dark--80: #333333;
$color-light--100: #FFFFFF;
  $color-light--90: #F2F2F2;
  $color-light--80: #E6E6E6;
$color-primary: #EC1C58;
$color-secondary: #0DA2BF;
$color-dark-transparent: hsla(0, 0%, 15%, 0.5);